body {
	margin: 0;
	width: 100%;
	height: 100vh;
	background-image: url("bg.jpg");
	background-size: 100%;
	background-position: bottom;
}

.app {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.add {
	background: transparent;
	border: none;
	color: #ffffff;
	font-size: 50px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	cursor: pointer;
	outline: none;
	opacity: 0.8;
	transition: opacity 0.1s;
}

.add:hover {
	opacity: 1;
}

.note {
	min-height: 150px;
	min-width: 200px;
	max-width: 400px;
	max-height: 400px;
	position: absolute;
	left: 30px;
}

.bar {
	width: 100%;
	height: 30px;
	background-color: #ddd170;
	cursor: move;
}

.bar:hover {
	background-color: #ccc050;
}

#remove {
	position: absolute;
	right: 0;
	border: none;
	background: transparent;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}

.index {
	z-index: 9999;
}

.note textarea {
	min-height: 150px;
	min-width: 200px;
	max-width: 300px;
	max-height: 250px;
	background-color: #fff740;
	outline: none;
	font-size: 26px;
	font-family: 'Shadows Into Light Two', cursive;
	border: none;
	box-shadow: 10px 11px 10px rgba(0,0,0,0.3);
	margin: 0;
}